name: Run pytest

on:
  push:
    branches:
      - refactor  # Adjust the branch name as per your repository's default branch

jobs:
  pytest:
    runs-on: ubuntu-latest   # Use the desired operating system for the CI environment

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          path: WrfHydroForcing
      
      - name: Run testing container
        run: |
          chmod -R 0777 $GITHUB_WORKSPACE/WrfHydroForcing && \
          docker run -t --name test_container \
           -v $GITHUB_WORKSPACE/WrfHydroForcing:/home/docker/WrfHydroForcing \
           andygaydos/wrf_hydro_forcing:latest 

      # - name: Copy test results from container
      #   if: ${{ always() }}
      #   run: docker cp test_container:/home/docker/test_out $GITHUB_WORKSPACE/test_report


      # - name: Run pytest
      #   run: |
      #     cd core/tests
      #     pytest

      # # Optional: Generate test coverage report
      # - name: Install coverage tool
      #   run: pip install coverage

      # - name: Run pytest with coverage
      #   run: coverage run -m pytest

      # - name: Generate coverage report
      #   run: coverage html -i
